In [1]:
import numpy as np
import pandas as pd

In [2]:
transactions = pd.read_csv('hist_trx.csv')
marked = pd.read_csv('hits0712.csv')

In [3]:
transactions.drop('Unnamed: 0', axis=1, inplace=True)
marked.drop('Unnamed: 0', axis=1, inplace=True)

In [4]:
transactions.head()

,event_id,date_time,user_id,sub_channel,event_type,sub_type,atm_mcc,mcc_group,atm_merchant_name,amount
0,22c9f1ac686a43e18cdb798489193238,2018-12-06 09:33:21,102050167,ISSUER_ACQUIRER,PAYMENT,POS_PURCHASE,5921.0,R,YUG 426,280.0
1,62dac13fac68416d9bc340c51ddcb977,2018-12-06 09:36:08,102050167,ISSUER_ACQUIRER,PAYMENT,POS_PURCHASE,5331.0,R,MAGAZIN RODINA,376.9
2,9b666b8c9d4d4faea78e2b28a5468794,2018-12-06 12:21:02,102050167,ISSUER_ACQUIRER,PAYMENT,POS_PURCHASE,5921.0,R,YUG 426,143.0
3,d4d805fc3d5f4c91aa9b0389333b780c,2018-12-06 07:46:58,102050167,ISSUER_ACQUIRER,PAYMENT,POS_PURCHASE,5331.0,R,MAGAZIN RODINA,162.0
4,1d162351117a4418949dcf94111b9964,2018-12-06 12:21:27,102050167,ISSUER_ACQUIRER,PAYMENT,POS_PURCHASE,5331.0,R,MAGAZIN RODINA,56.0

In [5]:
marked.head()

,event_id,user_id,rec_user_id,date_time,resolution,sub_channel
0,0fcea7fec4ff479cac8cf37b4555c817,75301207,49913000,2018-12-07 07:56:49,G,ATMAPI
1,c29a4e64d27b435b9b55aa3e62ce54d4,1200695,12797310,2018-12-07 07:14:41,G,MOBILEAPI
2,3107b2b1afcb490ab0a31135eb4b386c,45657780,23814017,2018-12-07 14:02:30,G,MOBILEAPI
3,d9bc95d991144d53b950d8084fa846bf,21683486,9865131,2018-12-07 10:32:41,G,WEBAPI
4,9fc959da4cd144ea8bf5bae2dc041a5e,4531894,VSP15472255,2018-12-07 18:22:52,G,MOBILEAPI

In [ ]:
marked.resolution.unique()

In [6]:
fraud_mask = marked.resolution == 'F'
marked[fraud_mask].describe()

,event_id,user_id,rec_user_id,date_time,resolution,sub_channel
count,63,63,63,63,63,63
unique,63,55,46,63,1,2
top,4b832173a90e478abb7645125706a5d2,15965865,72300748,2018-12-07 15:45:57,F,MOBILEAPI
freq,1,4,4,1,63,59

In [8]:
marked.resolution.unique()

array(['G', 'F', 'S'], dtype=object)

In [9]:
marked[fraud_mask].groupby('sub_channel').count()

             event_id  user_id  rec_user_id  date_time  resolution
sub_channel
MOBILEAPI          59       59           59         59          59
WEBAPI              4        4            4          4           4

Выборка не оч репрезентативна, но пока что все фроды были только через два канала. Через банкоматы пока нету.

In [10]:
marked[~fraud_mask].groupby('sub_channel').count()

             event_id  user_id  rec_user_id  date_time  resolution
sub_channel
ATMAPI           1754     1754         1754       1754        1754
MOBILEAPI        6469     6469         6469       6469        6469
WEBAPI            730      730          730        730         730

In [11]:
transactions.set_index('user_id', drop=True, inplace=True)

In [12]:
transactions.head()

,event_id,date_time,sub_channel,event_type,sub_type,atm_mcc,mcc_group,atm_merchant_name,amount
user_id,,,,,,,,,
102050167,22c9f1ac686a43e18cdb798489193238,2018-12-06 09:33:21,ISSUER_ACQUIRER,PAYMENT,POS_PURCHASE,5921.0,R,YUG 426,280.0
102050167,62dac13fac68416d9bc340c51ddcb977,2018-12-06 09:36:08,ISSUER_ACQUIRER,PAYMENT,POS_PURCHASE,5331.0,R,MAGAZIN RODINA,376.9
102050167,9b666b8c9d4d4faea78e2b28a5468794,2018-12-06 12:21:02,ISSUER_ACQUIRER,PAYMENT,POS_PURCHASE,5921.0,R,YUG 426,143.0
102050167,d4d805fc3d5f4c91aa9b0389333b780c,2018-12-06 07:46:58,ISSUER_ACQUIRER,PAYMENT,POS_PURCHASE,5331.0,R,MAGAZIN RODINA,162.0
102050167,1d162351117a4418949dcf94111b9964,2018-12-06 12:21:27,ISSUER_ACQUIRER,PAYMENT,POS_PURCHASE,5331.0,R,MAGAZIN RODINA,56.0

In [24]:
froud_users_transactions = transactions.loc[[x for x in marked[fraud_mask]['rec_user_id'].values if x in transactions.index]]

In [18]:
marked[marked.rec_user_id == 'MBK29495696']

,event_id,user_id,rec_user_id,date_time,resolution,sub_channel
186,3e1a692d1e5b4874abf954307934ea95,85042196,MBK29495696,2018-12-07 16:19:00,F,MOBILEAPI
187,7ad6e07ad2074e8792ccc65c91458f9f,24945499,MBK29495696,2018-12-07 17:38:49,F,MOBILEAPI

In [25]:
froud_users_transactions

,event_id,date_time,sub_channel,event_type,sub_type,atm_mcc,mcc_group,atm_merchant_name,amount
user_id,,,,,,,,,
MBK29495696,e2a55a06e6264b1685c2f07a9c98419d,2018-12-06 15:06:47,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,P2P ROSBANK,4400.00
MBK29495696,13c697146cc1450b8131223311f85cd9,2018-12-06 13:28:14,ISSUER_ACQUIRER,WITHDRAW,ATM_WITHDRAW,6011.0,Z,ATM 60011906,4800.00
MBK29495696,11600c9a80ab47d78678a1546e5a4cc5,2018-12-06 13:08:01,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,P2P ROSBANK,4800.00
MBK29495696,47c2726575194b16ad1bdad61b802f69,2018-12-06 10:50:34,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,P2P ROSBANK,4400.00
MBK29495696,48f4323689a64102bf2b8b6ced000800,2018-12-06 16:37:37,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,OPEN.RU CARD2CARD,1500.00
MBK29495696,d587e236e5934f73ab10b905b50bea4a,2018-12-06 14:45:13,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,P2P ROSBANK,3400.00
MBK29495696,14f940fa075641d2bbf98d7a0f865ced,2018-12-06 18:11:26,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,P2P ROSBANK,2900.00
MBK29495696,baa599d587824c6ba7d389bb324f6924,2018-12-06 19:46:49,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,P2P ROSBANK,500.00
MBK29495696,ffbb8f9ab54a4b7ebd94c7962fbd6b08,2018-12-06 20:29:28,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,P2P ROSBANK,2900.00
MBK29495696,d5a9147e0bf840bca4ba4b01467432c9,2018-12-06 20:32:32,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,P2P ROSBANK,350.00
MBK29495696,c3fe35c7312a4e18bc1dd29784bab593,2018-12-06 20:56:28,ISSUER_ACQUIRER,VIEW_STATEMENT,ATM_BALANCE,6011.0,Z,ATM 60008556,0.00
MBK29495696,2c5d10c0c4114b69a91e49e5de478ecd,2018-12-06 20:57:07,ISSUER_ACQUIRER,WITHDRAW,ATM_WITHDRAW,6011.0,Z,ATM 60008556,17700.00
MBK29495696,24941a1c77a0478b897b9eca6da9c33f,2018-12-06 20:36:33,ISSUER_ACQUIRER,WITHDRAW,ATM_WITHDRAW,6011.0,Z,ATM 60008556,300.00
MBK29495696,ecc1eb2a8541443d880d9d2a518e0cc7,2018-12-06 20:37:37,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,P2P ROSBANK,3700.00
MBK29495696,d91384402a9743f989ad51b75ae9c225,2018-12-06 20:33:18,ISSUER_ACQUIRER,VIEW_STATEMENT,ATM_BALANCE,6011.0,Z,ATM 60008556,0.00
MBK29495696,b96b3b6992a449a9be17063c6daefd57,2018-12-05 22:26:16,ISSUER_ACQUIRER,WITHDRAW,ATM_WITHDRAW,6011.0,Z,ATM 593008,9500.00
MBK29495696,32b829aa653d4561b5833743a889d13f,2018-12-06 20:49:25,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,P2P ROSBANK,14000.00
MBK29495696,29eb1cd3777c4ebe8a17aef3f8212081,2018-12-06 18:45:36,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,P2P ROSBANK,400.00
MBK29495696,4407fe68f1ab4ac2bd26df3cf7667dcf,2018-12-06 18:49:56,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,P2P ROSBANK,2000.00
MBK29495696,4e3a21d12f164d1986579a60505302de,2018-12-06 18:53:32,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,P2P ROSBANK,269.00
MBK29495696,915e459d0fce4abe91c95bab2f838ae4,2018-12-06 20:35:17,ISSUER_ACQUIRER,WITHDRAW,ATM_WITHDRAW,6011.0,Z,ATM 60008556,23000.00
MBK29495696,3dffa45645c8401196a8eb00e66de119,2018-12-05 21:03:35,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,P2P ROSBANK,7800.00
MBK29495696,8397a1ba68114d3ab861d6a0ffa00980,2018-12-05 19:13:02,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,P2P ROSBANK,2000.00
MBK29495696,8e1026b6c964419faa490c8baba5f539,2018-12-04 14:37:34,ISSUER_ACQUIRER,WITHDRAW,ATM_WITHDRAW,6011.0,Z,ATM 02008291,5000.00
MBK29495696,9e4f605fd34c458b99489b894c89277f,2018-12-04 14:09:53,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,P2P ROSBANK,5000.00
MBK29495696,dd472ffd362d48b2a79fec392fd01515,2018-12-04 18:55:36,ISSUER_ACQUIRER,WITHDRAW,ATM_WITHDRAW,6011.0,Z,ATM 02008291,8500.00
MBK29495696,a8e5b1a382af40e9b0c6bfc711b38746,2018-12-04 16:38:11,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,P2P ROSBANK,3000.00
MBK29495696,4cff4aecd8c44ecbbfcb72b8efb96d8e,2018-12-04 15:04:01,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,OPEN.RU CARD2CARD,5500.00
MBK29495696,9b1396d819fd4b50bf8ca22a14564eb2,2018-12-03 13:18:35,ISSUER_ACQUIRER,WITHDRAW,ATM_WITHDRAW,6011.0,Z,ATM 02008291,25000.00
MBK29495696,6714b4967f2949dfb19420a1be96410f,2018-12-03 13:08:38,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,P2P ROSBANK,25000.00
...,...,...,...,...,...,...,...,...,...
73456573,885b41c660e046b3b8bc748618ba7001,2018-12-03 17:10:54,ISSUER_ACQUIRER,WITHDRAW,ATM_WITHDRAW,6011.0,Z,ATM 520958,7700.00
73456573,2139e66909db4c23836aa0072272e7e8,2018-12-03 13:51:58,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6012.0,R,P2P ROSBANK,7500.00
73456573,03f531dd6276472cbca4b8fe42a33dfb,2018-12-02 12:52:28,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6012.0,R,P2P ROSBANK,6000.00
73456573,abc623e8fc75459bb1771c2996723063,2018-12-02 13:31:52,ISSUER_ACQUIRER,WITHDRAW,ATM_WITHDRAW,6011.0,Z,ATM 520958,6600.00
73456573,1ff97b05cd534fef8e9df92e9c24e874,2018-12-02 13:31:17,ISSUER_ACQUIRER,VIEW_STATEMENT,ATM_BALANCE,6011.0,Z,ATM 520958,0.00
73456573,030a961f722a4228938f8b5907e9f783,2018-12-02 13:57:51,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6012.0,R,P2P ROSBANK,2650.00
73456573,5f7f75bbd13240d7b0b80a8e37a7752f,2018-12-02 14:30:36,ISSUER_ACQUIRER,VIEW_STATEMENT,ATM_BALANCE,6011.0,Z,ATM 121331,0.00
73456573,98f5125f04024603877abf6106002ab4,2018-12-02 14:31:45,ISSUER_ACQUIRER,WITHDRAW,ATM_WITHDRAW,6011.0,Z,ATM 121331,2700.00
73456573,af479c333a0e4363b4a1c886ce09813d,2018-12-01 16:35:29,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6012.0,R,P2P ROSBANK,250.00
73456573,d0a29f8b348f461d99c029283798a442,2018-12-01 17:51:09,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6012.0,R,P2P ROSBANK,300.00
73456573,96c6faa26a6e4e4982dfae49cb41128a,2018-11-30 16:33:46,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6012.0,R,P2P ROSBANK,26588.00
73456573,de8cf9bfccb74d45a44748c9f21b8840,2018-11-30 17:39:42,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6012.0,R,P2P ROSBANK,1488.00
73456573,7ecbfb007a504480bc8a9e4593df7334,2018-11-30 18:22:43,ISSUER_ACQUIRER,VIEW_STATEMENT,ATM_BALANCE,6011.0,Z,ATM 520958,0.00
73456573,7e2159053f6841b58e8db76927e9c3c9,2018-11-30 18:18:33,ISSUER_ACQUIRER,VIEW_STATEMENT,ATM_BALANCE,6011.0,Z,ATM 520958,0.00
73456573,eeca395507ba4c88873cd318f66b700f,2018-11-30 18:23:46,ISSUER_ACQUIRER,WITHDRAW,ATM_WITHDRAW,6011.0,Z,ATM 520958,28000.00
73456573,83b4bdc5389e438890f7aa0f09f3013d,2018-11-30 18:17:58,ISSUER_ACQUIRER,VIEW_STATEMENT,ATM_BALANCE,6011.0,Z,ATM 520958,0.00
73456573,f0f62a37ff8e46fab6ae7c7b16604872,2018-11-29 17:35:03,ISSUER_ACQUIRER,VIEW_STATEMENT,ATM_BALANCE,6011.0,Z,ATM 664162,0.00
73456573,ebdc95a62bb8473986ac5d9dfe940d47,2018-11-29 17:42:25,ISSUER_ACQUIRER,WITHDRAW,ATM_WITHDRAW,6011.0,Z,ATM 10055081,400.00
73456573,907bd29564214e67b1e76343ff1e45b8,2018-11-29 17:41:37,ISSUER_ACQUIRER,WITHDRAW,ATM_WITHDRAW,6011.0,Z,ATM 10055081,1500.00
73456573,be94a1064ae8449ab8b8742c39888586,2018-11-29 17:35:54,ISSUER_ACQUIRER,DEPOSIT,ATM_P2P_CREDIT,6010.0,C,SBOL,2000.00
91856744,71a78631154540db9a8362db1a410cff,2018-12-02 13:24:26,ISSUER,PAYMENT,POS_PURCHASE,5411.0,R,VERHYI OREKHOVO ZUEVO,79.00
91856744,4bcdecf2500f465580b8e3dd19d16c8f,2018-12-02 14:00:03,ISSUER_ACQUIRER,PAYMENT,POS_PURCHASE,5499.0,R,NASH,27.00
91856744,1f0090e44f164728946f4e1839186894,2018-12-02 13:55:51,ISSUER_ACQUIRER,PAYMENT,POS_PURCHASE,5499.0,R,IP BERENKO I.D.,49.00
91856744,e931f064b7294109b3b1022ebea0c524,2018-12-01 15:25:19,ISSUER_ACQUIRER,PAYMENT,POS_PURCHASE,5499.0,R,IP BERENKO I.D.,197.70
91856744,fa853d80b4fa4f33b2da1636f539da43,2018-11-30 17:51:55,ISSUER_ACQUIRER,PAYMENT,POS_PURCHASE,5499.0,R,IP BERENKO I.D.,98.00
91856744,d5ed6b6adada499fb962c627193e4fba,2018-11-30 17:21:49,ISSUER,DEPOSIT,ATM_P2P_CREDIT,6536.0,R,VRB_MC,445.15
91856744,c1fe267c9eaf4f248fab4f4bab47ddf6,2018-11-29 19:46:41,ISSUER_ACQUIRER,DEPOSIT,ATM_P2P_CREDIT,6010.0,C,MBK,10.00
91856744,8d69fa546e8d44d68654cf09552e8fba,2018-11-29 20:53:06,ISSUER,PAYMENT,EPOS_PURCHASE,6012.0,R,MND*METROKREDIT,1.00
91856744,91d687ebada04adcb836b8fd18e23793,2018-11-29 20:53:06,ISSUER,PAYMENT,EPOS_PURCHASE,6012.0,R,MND*METROKREDIT,1.00
91856744,71ffa3f8d0a548cbbcef8ae346a0794f,2018-11-29 19:44:57,ISSUER,PAYMENT,EPOS_PRE_PURCHASE,6012.0,R,WWW.MONEYMAN.RU,8.41

Транзакции в один рубль, видимо, для проверки работоспособности счета. Проверки баланса (даже несколько раз подряд)

In [31]:
froud_users_transactions.groupby('mcc_group').count()['event_id']/froud_users_transactions.shape[0]

mcc_group
A    0.018799
C    0.281706
F    0.007576
Q    0.000281
R    0.349046
T    0.001122
U    0.052469
X    0.000561
Z    0.287598
Name: event_id, dtype: float64

In [28]:
good_transactions = transactions.drop(froud_users_transactions.index)

In [32]:
good_transactions.groupby('mcc_group').count()['event_id']/good_transactions.shape[0]

mcc_group
A    0.002880
C    0.260973
F    0.044076
H    0.001389
J    0.000943
O    0.000127
Q    0.000257
R    0.341368
T    0.005143
U    0.207979
X    0.010233
Z    0.122602
Name: event_id, dtype: float64

Есть сильные отличия по категориям, однако, это может быть связанно просто с малым количеством данных( хотя тут уже их не так уж и мало)